.project-detail {
  min-height: calc(100vh - 73px);
  padding: 70px 50px;
}

.project-detail-content {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

/* BACK BUTTON */

.back-button {
  display: inline-block;
  margin-bottom: 50px;

  padding: 12px 24px;

  border: 1px solid #333;
  border-radius: 8px;

  color: white;
  text-decoration: none;

  transition: 0.3s;
}

.back-button:hover {
  background-color: white;
  color: #111;
}

/* IMAGE */

.project-detail-image {
  width: 100%;
  height: 450px;

  margin-bottom: 60px;

  overflow: hidden;
  border-radius: 12px;
}

.project-detail-image img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  display: block;
}

/* TITLE */

.project-detail h1 {
  font-size: 64px;
  line-height: 1.1;

  margin-bottom: 25px;
}

.project-detail-description {
  max-width: 850px;

  font-size: 22px;
  line-height: 1.6;

  margin-bottom: 30px;
}

.project-detail-full-description {
  max-width: 850px;

  font-size: 18px;
  line-height: 1.8;

  opacity: 0.7;

  margin-bottom: 80px;
}

/* SECTIONS */

.project-detail-section {
  max-width: 850px;

  margin-bottom: 70px;
}

.project-detail-section h2 {
  font-size: 30px;

  margin-bottom: 25px;
}

.project-detail-section p {
  font-size: 18px;
  line-height: 1.8;

  opacity: 0.75;
}

/* FEATURES */

.project-features {
  padding-left: 25px;
}

.project-features li {
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 1.6;

  opacity: 0.75;
}

/* TECHNOLOGIES */

.project-detail-technologies {
  margin-bottom: 70px;
}

.project-detail-technologies h2 {
  font-size: 30px;

  margin-bottom: 25px;
}

.technology-list {
  display: flex;
  flex-wrap: wrap;

  gap: 12px;
}

.technology-list span {
  padding: 9px 16px;

  border: 1px solid #444;
  border-radius: 20px;

  font-size: 14px;
}

/* LINKS */

.project-detail-links {
  display: flex;

  gap: 15px;

  margin-bottom: 40px;
}

.project-detail-links a {
  padding: 12px 24px;

  border: 1px solid #333;
  border-radius: 8px;

  color: white;
  text-decoration: none;

  transition: 0.3s;
}

.project-detail-links a:hover {
  background-color: white;
  color: #111;
}

/* RESPONSIVE */

@media (max-width: 768px) {

  .project-detail {
    padding: 50px 20px;
  }

  .back-button {
    margin-bottom: 35px;
  }

  .project-detail-image {
    height: 250px;

    margin-bottom: 40px;
  }

  .project-detail h1 {
    font-size: 44px;
  }

  .project-detail-description {
    font-size: 19px;
  }

  .project-detail-full-description {
    font-size: 17px;

    margin-bottom: 60px;
  }

  .project-detail-section {
    margin-bottom: 55px;
  }

  .project-detail-section h2 {
    font-size: 26px;
  }

  .project-detail-section p {
    font-size: 17px;
  }

  .project-features li {
    font-size: 17px;
  }

  .project-detail-technologies {
    margin-bottom: 55px;
  }

  .project-detail-links {
    flex-direction: column;
  }

  .project-detail-links a {
    text-align: center;
  }

}