.skills {
  min-height: calc(100vh - 73px);
  padding: 80px 50px;
}

.skills-content {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.skills h1 {
  font-size: 56px;
  margin-bottom: 50px;
}

.section-subtitle {
  font-size: 18px;
  margin-bottom: 10px;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .skills {
    padding: 60px 20px;
  }

  .skills h1 {
    font-size: 44px;
  }

  .skills-list {
    grid-template-columns: 1fr;
  }
}